JIRA_BASE_URL=https://harmony.lge.com:8443/issue
JIRA_API_TOKEN=your_pat_token_here
JIRA_VERIFY_SSL=false

BOARD_ID=12641

# Custom Field IDs (LGE Jira Server)
STORY_POINTS_FIELD=customfield_10808
EPIC_NAME_FIELD=customfield_10804
EPIC_LINK_FIELD=customfield_10801
SPRINT_FIELD=customfield_10800
RELEASE_SPRINT_FIELD=customfield_18834
CHIP_NAME_FIELD=customfield_14922
